* {
  color: #f7f7f8;
}

body {
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#title {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a1078;
}

#cbody {
  display: flex;
  height: 85vh;
  width: 100%;
}

#links {
  width: 55vw;
  display: flex;
  flex-direction: column;
  background-color: #4e31aa;
  height: 100% auto;
}

#links a {
  place-self: center;
  text-decoration: none;
  width: 80%;
  padding: 15px;
  margin: 10px;
}

#links a:hover {
  background-color: rgb(243, 210, 148);
  color: rgb(93, 36, 158);
  box-shadow: 0px 0px 10px 0px #f7f7f8;
  .linkimg {
    filter: invert(0);
  }
}

#content {
  background-color: #3795bd;
  padding: 13px;
  height: 100% auto;
  width: 75vw auto;
}

#logo {
  border-radius: 50%;
  padding: 15px;
  height: 55px;
  width: 55px;
}

.linkimg {
  width: 12px;
  height: 12px;
  padding-right: 3px;
  filter: invert(1);
}

#courses {
  zoom: 1.3;
}
